<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxxx.manager.mapper.TGoodsCategoryMapper">
  <resultMap id="BaseResultMap" type="com.xxxx.manager.pojo.TGoodsCategory">
    <!--@mbg.generated-->
    <!--@Table t_goods_category-->
    <id column="id" jdbcType="SMALLINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile_name" jdbcType="VARCHAR" property="mobileName" />
    <result column="parent_id" jdbcType="SMALLINT" property="parentId" />
    <result column="parent_id_path" jdbcType="VARCHAR" property="parentIdPath" />
    <result column="level" jdbcType="BOOLEAN" property="level" />
    <result column="sort_order" jdbcType="BOOLEAN" property="sortOrder" />
    <result column="is_show" jdbcType="BOOLEAN" property="isShow" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="is_hot" jdbcType="BOOLEAN" property="isHot" />
    <result column="cat_group" jdbcType="BOOLEAN" property="catGroup" />
    <result column="commission_rate" jdbcType="BOOLEAN" property="commissionRate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, mobile_name, parent_id, parent_id_path, `level`, sort_order, is_show, 
    image, is_hot, cat_group, commission_rate
  </sql>



  <select id="listCategoryService" resultType="com.xxxx.manager.pojo.TGoodsCategory">
    select t1.*
    from t_goods_category t1
  </select>

  <select id="selectCategoryTopList" parameterType="Integer" resultType="com.xxxx.manager.pojo.TGoodsCategory">
    select <include refid="Base_Column_List"/>
    from t_goods_category
    where parent_id = 0
  </select>

  <select id="selectCategoryByParentId" parameterType="Short" resultType="TGoodsCategory">
    select *
    from t_goods_category
    where parent_id = #{parentId}

  </select>

  <insert id="saveGoodsCategory" parameterType="TGoodsCategory">
    insert into t_goods_category
    (name, mobile_name, parent_id, parent_id_path, level, sort_order, is_show, image, is_hot, cat_group, commission_rate)
    values (#{name},#{mobileName}, #{parentId},
    #{parentIdPath},#{level},#{sortOrder},#{isShow},#{image},#{isHot},#{catGroup},#{commissionRate}
                   )

  </insert>


</mapper>